#map{ height: 400px; }

.row-map{
  background-color: rgba(255,255,255,0.94);
  padding: 10px 32px;
  min-height: 640px;
}

.heading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.2em;
}

.data-heading{
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6em;
  color: #333;
}

.data-entry{
  padding: 8px 0px 2px 16px;
  font-size: 1.5em;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}