<h3>Map Dimensions</h3>
<div class="row section">
    <div class="col-3">
        <app-map-dimensions [visualizationType]="mapType" ></app-map-dimensions>
    </div>
    <div  class="col-9">
        <div class="sticky">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th> Color </th>
                        <td> 
                            <app-visual-variable #colorNominalVariable [title]="'nominal data'" [acceptsDataType]="0"
                            (valueSelected)="attributeSelectedNominal($event)"></app-visual-variable>
                        </td>
                        <td>
                            <app-visual-variable #colorRatioVariable [title]="'ratio data'" [acceptsDataType]="2"
                            (valueSelected)="attributeSelectedRatio($event)"></app-visual-variable>
                        </td>
                    </tr>                                
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div id="map"></div>
    </div>
    <div class="col-2">
<!--         <app-attributes-list [visualizationType]="mapType" (valueSelected)="attributeSelected($event)"></app-attributes-list> -->
        <div>
            <!--Display legend for ratio data
            TODO: this can be updated by using similar implementation 
            as that of nominal data to have one piece code -->
            <app-legend-circles *ngIf="selectedAttribute" [legendTitle]="selectedAttribute.column_name" [boundaryArray]="boundaryArray"  >
            </app-legend-circles>
            <div class="legend" *ngIf="nominalKeysForLegend">    
                <div *ngFor="let key of nominalKeysForLegend">
                    <span>
                        <!--Display color -->
                        <i [style.background]="nominalValuesFreqAndColor[key]['color']"></i>
                        <!-- Display Values -->
                        {{ key }} - {{ nominalValuesFreqAndColor[key]["freq"] }}
                    </span> 
                </div>                            
            </div>

        </div>
    <div>
<div>