<div class="container select-types-padding-top">
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">Information Regarding Data Scales</h5>
      <h6 class="card-subtitle mb-2 text-muted">Nominal Data</h6>
      <p class="card-text">Nominal data is non numerical data, e.g. the name of a district, the type of rooms etc.</p>
      <h6 class="card-subtitle mb-2 text-muted">Ratio Data</h6>
      <p class="card-text">Ratio data are numerical, and "zero" means "non-existence", e.g., 0 population means "no people", 0 dollar means "no money".</p>
      <h6 class="card-subtitle mb-2 text-muted">Interval Data</h6>
      <p class="card-text">Interval data are numerical, and "zero" does not mean "non-existence", e.g. in case of the IQ test of a person, the 0 does not mean "no intelligence at all", similarly 0 degree celsius temperature does not mean "non-existence of temperature".
    </div>
  </div>
  <br>
  <br>
  <h4>Please assign appropriate "Data Scales" here</h4>
  <table class="table table-hover">
    <thead>
      <th>ColumName</th>
      <th>Nominal</th>
      <th>Interval Scale</th>
      <th>Ratio Scale</th>
    </thead>
    <tbody>
      <tr *ngFor="let col of columnTypes; let i=index;">
        <td>{{col.column_name}}</td>
        <td><input type="radio" name="{{col.column_name}}" [(ngModel)]="col.type" value="nominal"   [attr.disabled]="col.type != 'nominal' ? true : null"></td>
        <td><input type="radio" name="{{col.column_name}}" [(ngModel)]="col.type" value="interval" [attr.disabled]="col.type == 'nominal' ? true : null"></td>
        <td><input type="radio" name="{{col.column_name}}" [(ngModel)]="col.type" value="ratio" [attr.disabled]="col.type == 'nominal' ? true : null"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><button (click)="updateValues()" class="btn-primary">Submit</button></td>
      </tr>    
    </tbody>
  </table>
</div>