<div class="dimensions-model" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
    <p class="dimension-title">Drag {{title}} here</p>
    <li *ngIf="attributeSelected" class="dimension" >
        <span class="dimension-key">{{attributeSelected.column_name}}</span>
        <span class="dimension-type">{{attributeSelected.type}}</span>
        <span class="remove pull-right" (click)="removeThis(attribute)">×</span>
<!--         <span class="remove pull-right">×</span> -->
    </li>
</div>
<!--
<div>
  <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataSuccess($event)">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
          <div *ngIf="attributeSelected" >{{attributeSelected}}</div>
      </div>
  </div>
</div>

 -->