.clickable{
    cursor: pointer;
}

.upload-file{
    background-color: beige;
    padding-top: 10px;
}


.upload-file__example-data-logo{
    background-color: turquoise;
    margin: 5pt;
}

.upload-file__example-data-logo_description{
    font-size: 13px;
    font-weight: 400;
    color: #999;
    margin: 0px;
    display: block;
}

.uploadfile-background{
    background-color: beige;
}