<div class="row">
    <div class="col-10">
        <div id="map"></div>
    </div>
    <div class="col-2">
        Color Variable<app-attributes-list [visualizationType]="mapType"(valueSelected)="colorOptionSelected($event)"></app-attributes-list>              
        
        <div><!-- Legend starts here -->
            <h4 id=’legendTitle’ *ngIf="selectedColorAttribute">{{selectedColorAttribute.column_name}}</h4>
            <div class="legend" *ngIf="colorBoundaryArray">
                <div *ngFor="let boundary of colorBoundaryArray; let i = index">              
                    <span>
                        <!--Display color -->
                        <i [style.background]="intervalColorsArray[i]"></i>
                        <!-- Display Values -->
                        <span *ngIf="i==0">    {{colorBoundaryArray[i] }} - {{colorBoundaryArray[i+1] }} </span>
                        <span *ngIf="i>0 && intervalColorsArray[i]">     {{ +colorBoundaryArray[i] + 1  }} - {{colorBoundaryArray[i+1] }} </span>
                    </span> <br>
                </div>                
            </div>
            <div class="legend" *ngIf="nominalKeysForLegend">    
                <div *ngFor="let key of nominalKeysForLegend">
                    <span>
                        <!--Display color -->
                        <i [style.background]="nominalValuesFreqAndColor[key]['color']"></i>
                        <!-- Display Values -->
                        {{ key }} - {{ nominalValuesFreqAndColor[key]["freq"] }}
                    </span> 
                </div>                            
            </div>
        </div> <!-- Legend ends here -->
    
    <div>
<div>