.vis-sel-section {
    padding: 40px 0px;
}

.body{
    background-color:#f8f9fa !important;
}

.map-dim-section{
    background-color: beige;
    padding-bottom: 50px;
}

.selected-vis-center{
    color: white;
    background-color: cadetblue;
    text-align: center;
}