<!-- 
<div class="panel panel-success">
    <div class="panel-heading">Data Dimensions</div>
    <div class="panel-body">
        <div *ngFor="let column of listOfAttributes" class="panel panel-default" dnd-draggable [dragEnabled]="true" [dragData]="column">
            <div class="panel-body">                        
                <div>{{column.column_name}} {{column.type}}</div>
            </div>
        </div>
    </div>
</div>
-->

<div>
<ul class="list-unstyled dimensions-list">
    <!-- ngRepeat: dimension in metadata track by $index -->
    <li class="dimension" *ngFor="let column of listOfAttributes"  dnd-draggable [dragEnabled]="column.isValid" [dragData]="column" style="">
        <span class="dimension-key">{{column.column_name}}</span>
        <span class="dimension-type">{{column.type}}</span>
    </li>
</ul>
</div>
						
