<h3>Map Dimensions</h3>
<div class="row section">
    <div class="col-3">
        <app-map-dimensions [visualizationType]="mapType" ></app-map-dimensions>
    </div>
    <div  class="col-9">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th> Size </th>
                    <td> 
                        <app-visual-variable #sizeRatioVariable [title]="'Size - Ratio'" [acceptsDataType]="2"
                        (valueSelected)="sizeOptionSelected($event)"></app-visual-variable>
                    </td>
                </tr>
                <tr>
                    <th> Color </th>
                    <td> 
                        <app-visual-variable #colorNominalVariable [title]="'Color - Nominal'" [acceptsDataType]="0"
                        (valueSelected)="colorOptionSelected_Nominal($event)"></app-visual-variable>
                    </td>
                    <td>
                        <app-visual-variable #colorRatioVariable [title]="'Color - Ratio'" [acceptsDataType]="2"
                        (valueSelected)="colorOptionSelected_Ratio($event)"></app-visual-variable>
                    </td>
                </tr>                                    
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div id="map"></div>
    </div>
    <div class="col-2">
<!--         Size Variable <app-attributes-list [visualizationType]="mapType" (valueSelected)="sizeOptionSelected($event)"></app-attributes-list>
        Color Variable<app-attributes-list [visualizationType]="mapType"(valueSelected)="colorOptionSelected($event)"></app-attributes-list>   -->      
        <div class="legend">
            <h4 id=’legendTitle’>{{selectedSizeAttribute}}</h4>
            <div class="symbolsContainer">                
                <div *ngFor="let boundary of boundaryArray; let i = index" class="legendCircle" 
                    [style.width.px]="circleSizesArray[i] * 2" [style.height.px]="circleSizesArray[i] * 2" 
                    [style.margin-left.px]="-circleSizesArray[i] - circleSizesArray[i-1] - 2 " >              
                    <span *ngIf="boundaryArray[i] > -1" class="legendValue">
                        <!-- Display Values -->
                        {{ boundaryArray[i] }}
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h4 id=’legendTitle’>{{selectedColorAttribute?.column_name}}</h4>
            <div>
                <div *ngFor="let boundary of colorBoundaryArray; let i = index">              
                    <span>
                        <!--Display color -->
                        <i [style.background]="ratioColorsList[i]"></i>
                        <!-- Display Values -->
                        <span *ngIf="i==0">    {{colorBoundaryArray[i] }} - {{colorBoundaryArray[i+1] }} </span>
                        <span *ngIf="i>0 && ratioColorsList[i]">     {{ +colorBoundaryArray[i] + 1  }} - {{colorBoundaryArray[i+1] }} </span>
                    </span> <br>
                </div>
            </div>
            <div class="legend" *ngIf="nominalKeysForLegend">    
                <div *ngFor="let key of nominalKeysForLegend">
                    <span>
                        <!--Display color -->
                        <i [style.background]="nominalValuesFreqAndColor[key]['color']"></i>
                        <!-- Display Values -->
                        {{ key }} - {{ nominalValuesFreqAndColor[key]["freq"] }}
                    </span> 
                </div>                            
            </div>
        </div>
    </div>
</div>