<div class="row">
    <div class="col-10">
        <div id="map"></div>
    </div>
    <div class="col-2">
        Size Variable <app-attributes-list [visualizationType]="mapType" (valueSelected)="sizeOptionSelected($event)"></app-attributes-list>
        Color Variable<app-attributes-list [visualizationType]="mapType"(valueSelected)="colorOptionSelected($event)"></app-attributes-list>        <div>
        <div class="legend">
            <h4 id=’legendTitle’>{{selectedSizeAttribute}}</h4>
            <div class="symbolsContainer">                
                <div *ngFor="let boundary of boundaryArray; let i = index" class="legendCircle" 
                    [style.width.px]="circleSizesArray[i] * 2" [style.height.px]="circleSizesArray[i] * 2" 
                    [style.margin-left.px]="-circleSizesArray[i] - circleSizesArray[i-1] - 2 " >              
                    <span *ngIf="boundaryArray[i]" class="legendValue">
                        <!-- Display Values -->
                        {{ boundaryArray[i] }}
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h4 id=’legendTitle’>{{selectedColorAttribute}}</h4>
            <div>
                <div *ngFor="let boundary of colorBoundaryArray; let i = index">              
                    <span>
                        <!--Display color -->
                        <i [style.background]="ratioColorsList[i]"></i>
                        <!-- Display Values -->
                        <span *ngIf="i==0">    {{colorBoundaryArray[i] }} - {{colorBoundaryArray[i+1] }} </span>
                        <span *ngIf="i>0 && ratioColorsList[i]">     {{ +colorBoundaryArray[i] + 1  }} - {{colorBoundaryArray[i+1] }} </span>
                    </span> <br>
                </div>
            </div>
        </div>
    <div>
<div>