<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.1/css/dvf.min.css" />
<h3>Map Dimensions</h3>
<div class="row section">
    <div class="col-3">
        <app-map-dimensions [visualizationType]="mapType" ></app-map-dimensions>
    </div>
    <div  class="col-9">
        <div class="sticky">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <th> Circular Size </th>
                        <td> 
                            <app-visual-variable [title]="'Size'" [acceptsDataType]="2"
                            (valueSelected)="attributeSelectedSize($event)"></app-visual-variable>
                        </td>
                    </tr>
                    <tr>
                        <th> PieChart Attributes </th>
                        <td> 
                            <app-visual-variable-multidrop  [title]="'PieChart'" [acceptsDataType]="2"
                            (valueSelected)="attributeSelectedPieChart($event)"></app-visual-variable-multidrop>
                        </td>
                    </tr>                                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div id="map"></div>
    </div>
    <div class="col-2">
        <!-- Display circles -->
        <div class="legend">
            <h4 id=’legendTitle’>{{selectedAttribute?.column_name}}</h4>
            <div class="symbolsContainer">                
                <div *ngFor="let boundary of boundaryArray; let i = index" class="legendCircle" 
                    [style.width.px]="circleSizesArray[i] * 2" [style.height.px]="circleSizesArray[i] * 2" 
                    [style.margin-left.px]="-circleSizesArray[i] - circleSizesArray[i-1] - 2 " >              
                    <span *ngIf="boundaryArray[i] > -1" class="legendValue">
                        <!-- Display Values -->
                        {{ boundaryArray[i] }}
                    </span>
                </div>
            </div>
        </div>
        <div class="legend" *ngIf="listOfSelectedAttributes">
            <div *ngFor="let attribute of listOfSelectedAttributes; let i = index">
                <span>
                    <!--Display color -->
                    <i [style.background]="nominalColorsList[i]"></i>
                    <!-- Display Values -->
                    {{ attribute.column_name }} 
                </span> <br>
            </div>                                
        </div>
    </div>
</div>